<!DOCTYPE html>
<html>
    <head>
        <title>Devbook - Login</title>
        <link rel="stylesheet" type="text/css" href="/assets/css/login.css">
    </head>
    <body>
        <div class="container-login">
            <div>
                <form class="devbook-form" id="login">
                    <span>Seja bem vindo ao Devbook!</span>
                    <div>
                        <input type="text" name="email" id="email" placeholder="Digite o seu email" required>
                    </div>
                    <div>
                        <input type="password" name="password" id="password" placeholder="Digite a sua senha" required> 
                    </div>
                    <a href="/cadastrar"> Clique aqui para criar sua conta</a>
                    <button type="submit" class="btn-devbook">Login</button>
                </form>
            </div>
        </div>
        {{ template "script" }}
        <script src="/assets/js/login.js"></script>
    </body>
</html>
